@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Manic';
  src: url('assets/MANIC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    background: linear-gradient(
        120deg,
        rgb(37, 37, 37) 0%,
        rgb(55, 48, 65) 35%,
        rgb(70, 55, 65) 65%,
        rgb(37, 37, 37) 100%
    );
    background-size: cover;
    color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

h1,
span:not(.greetUser) {
    font-family: 'Manic', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;

}
span {
    font-size: 21px;
}

.greetUser {
    font-size: 20px;
    margin-bottom: 10px;
}

#welcomeName {
    font-size: 25px;
}


.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
    
}

.headerText {
    text-align: center;
}

.description {
    margin-bottom: 10px;
}

form {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

input,
button:not(.showPasswordBtn),
.footer {
    padding: 12px;
    border-radius: 5px;
    border: none;
}

input {
    background-color: rgba(200, 200, 200, 0.2);
    color: rgb(182, 182, 182);
    height: 43px;
}

button {
    background: none;
    cursor: pointer;
    color: rgba(200, 200, 200, 0.4);
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

button:not(.showPasswordBtn, button:disabled) {
    border: 2px solid rgba(200, 200, 200, 0.2);
}

button:active {
    transform: translateY(1px); 
    outline: none;
}

button:disabled {
    color: rgba(200, 200, 200, 0.2);
    outline: 2px solid rgba(200, 200, 200, 0.1);
    cursor: not-allowed;
}

::placeholder {
  color: rgb(136, 136, 136);  
  font-size: 14px;   
  opacity: 0.8;     
}

.footer {
    background-color: rgba(200, 200, 200, 0.2);
    width: 350px;
}

header {
    background-color: rgba(200, 200, 200, 0.2);
    width: 100%;
}

.header {
    padding: 3px 4px;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

input:hover,
input:focus {
    outline: 2px solid rgba(200, 200, 200, 0.4);
}

button:not(.showPasswordBtn, button:disabled):focus {
    border: 2px solid rgba(200, 200, 200, 0.4);
}

button:hover:not(button:disabled) {
    background-color: rgba(200, 200, 200, 0.2);
    color: rgb(140, 140, 140);
}

.showPassword {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.showPasswordBtn {
    width: 45px;
    height: 43px;
    padding: 4px 0px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid rgba(200, 200, 200, 0.2);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

input[type="password"],
input[type="text"] {
    flex-grow: 1;
}

.password {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    flex-shrink: 0;
}


#passCheck,
#infoCheck {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgba(200, 200, 200, 0.2);
}

.welcome {
    width: 80%;
    font-size: 17px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.quirky {
    font-size: 22px;
}

#logOut {
    display: inline-block;  
    width: 300px;
    background: none;
    cursor: pointer;
    color: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 12px;
    border-radius: 5px;
    outline: 2px solid rgba(200, 200, 200, 0.2);
    margin-top: 100px;
}

#logOut:hover {
    background-color: rgba(200, 200, 200, 0.2);
    color: rgb(140, 140, 140);
}


#guide {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: inherit;
}

.smiley g path {
    stroke: currentColor;
    fill: currentColor;
}


@media (max-width: 800px) {

    form {
        align-items: center;
    }

    input:not(.password),
    button,
    footer,
    .showPassword {
        width: 300px;
        max-width: 300px;
    }

    

    h1 {
        font-size: 50px;
    }

}

@media (max-width: 480px) {


    .footer,
    #logOut {
        position: fixed;
        bottom: 0;
        left: 0;
        min-width: 100%;
        border-radius: 0;
    }

    p,
    span:not(#welcomeName) {
        font-size: 15px !important;
    }

    #welcomeName {
        font-size: 18px;
    }

}